version: "3.9"

services:
  db:
    build: ./db-tier
    container_name: organic-db
    restart: always
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: organic-backend
    restart: always
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: organicdb
    ports:
      - "4000:4000"

  frontend:
    build: ./frontend
    container_name: organic-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  db_data:

